<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
        <script src="js/master.js" charset="utf-8"></script>
        <script src="js/enter.js" charset="utf-8"></script>
        <title></title>
      </head>
    <body>
<<<<<<< HEAD
      <img id="imagemPUC" src="images\pucminaspoços.png" width="150px">
      <div class="login">
        <!--eu não quero usar form -->
        <!--mock-up de login-->
          <img id="imagemCao" src="images\caoo.jpg" width="200px">
       
          <form method="POST" action="/salvar_usuario">  


        <div >
          <input type="submit" name="nome" value=" Nome " disabled class="inputTitle">
          <input class="inputForm" type="text" name = "Nome"   id="nome" placeholder="Nome" class="inputForm"><br>

          <input type="submit" class="inputTitle" value="Sobrenome"disabled>
          <input type="text" name="Sobrenome" id="Sobrenome" value="" placeholder="Sobrenome" class="inputForm"><br>

          <input type="submit" class="inputTitle" value="E-mail"disabled>
          <input type="text" name="Email" id="newusernameField" value="" placeholder="E-mail" class="inputForm"><br>

          <input type="submit" name="" value="Telefone" disabled class="inputTitle" id="tel1">
          <input class="inputForm" type="Tel" name="Tel"   id="tel" placeholder="DDD+Telefone" class="inputForm"><br>

          <input type="submit" name="" value="CPF" disabled class="inputTitle">
          <input class="inputForm" type="cpf" name="Cpf"   id="cpf"  placeholder="CPF" class="inputForm"><br>

          <input type="submit" name="" value="Cidade" disabled class="inputTitle">
          <input class="inputForm" type="cidade"    name="Cidade"  placeholder="Cidade" class="inputForm"><br>

          <input type="submit" name="" value="Rua" disabled class="inputTitle">
          <input class="inputForm" type="rua"   name="Rua"  placeholder="Rua" class="inputForm"><br>

          <input type="submit" name="" value="Numero" disabled class="inputTitle">
          <input class="inputForm" type="num"    name="Num"  placeholder="Numero" class="inputForm"><br>

          <input type="submit" name="" value="CEP" disabled class="inputTitle">
          <input class="inputForm" type="cep"  name = "Cep"  id="cep"  placeholder="CEP" class="inputForm"><br>

          <input type="submit" name="" value="Idade" disabled class="inputTitle">
          <input class="inputForm" type="text" name ="Idade"   id="idad"placeholder="Idade" class="inputForm"><br>

          <input type="submit" name="" value="Sexo" disabled class="inputTitle">
          <input class="inputForm" type="text" name ="Sexo"   id="sexo" placeholder="Sexo"class="inputForm"><br>

          <input type="submit" class="inputTitle"  value="Senha"disabled>
          <input type="password" name="Senha" id="newpasswordField" value="" placeholder="Senha" class="inputForm"><br>

          <div class="erro" style="display: none;">
            <p style="color: red">É necessário preencher todos os campos para cadastrar.</p>
=======
        <div class="criarctn">
          <form method="POST" action="/salvar_usuario">
            <input type="submit" name="" value=" Nome " disabled class="inputTitle">
            <input class="inputForm" type="text"    id="nome" placeholder="Nome" class="inputForm"><br>
            <input type="submit" class="inputTitle" value="Sobrenome"disabled>
            <input type="text" name="Sobrenome" id="Sobrenome" value="" placeholder="Sobrenome" class="inputForm"><br>
            <input type="submit" class="inputTitle" value="Usuário"disabled>
            <input type="text" name="username" id="newusernameField" value="" placeholder="Usuário" class="inputForm"><br>
            <input type="submit" class="inputTitle" value="E-mail"disabled>
            <input type="text" name="username" id="newusernameField" value="" placeholder="E-mail" class="inputForm"><br>
            <input type="submit" name="" value="Telefone" disabled class="inputTitle" id="tel1">
            <input class="inputForm" type="tel"    id="tel" placeholder="DDD+Telefone" class="inputForm"><br>
            <input type="submit" name="" value="CPF" disabled class="inputTitle">
            <input class="inputForm" type="cpf"    id="cpf"  placeholder="CPF" class="inputForm"><br>
            <input type="submit" name="" value="Cidade" disabled class="inputTitle">
            <input class="inputForm" type="cidade"    id="cpf"  placeholder="Cidade" class="inputForm"><br>
            <input type="submit" name="" value="Rua" disabled class="inputTitle">
            <input class="inputForm" type="rua"    id="rua"  placeholder="Rua" class="inputForm"><br>
            <input type="submit" name="" value="Numero" disabled class="inputTitle">
            <input class="inputForm" type="num"    id="num"  placeholder="Numero" class="inputForm"><br>
            <input type="submit" name="" value="CEP" disabled class="inputTitle">
            <input class="inputForm" type="cep"    id="cep"  placeholder="CEP" class="inputForm"><br>
            <input type="submit" name="" value="Idade" disabled class="inputTitle">
            <input class="inputForm" type="text"    id="idade"placeholder="Idade" class="inputForm"><br>
            <input type="submit" name="" value="Sexo" disabled class="inputTitle">
            <input class="inputForm" type="text"    id="sexo" placeholder="Sexo"class="inputForm"><br>
            <input type="submit" class="inputTitle"  value="Senha"disabled>
            <input type="password" name="senha" id="newpasswordField" value="" placeholder="Senha" class="inputForm"><br>
            <div class="erro" style="display: none;">
              <p style="color: red">É necessário preencher todos os campos para cadastrar.</p>
            </div>
            <input class="BTN" type="submit" onclick="Finalizar()" id="finalizar" value="Finalizar"/>
            <input class="BTN" type="submit" onclick="location.href = '/'" id="voltar" value="Voltar"/>
          </form>
>>>>>>> fa8ac051c1aa72e8113dfe05257f24d6fbc8ae26
          </div>
          <input class="BTN" type="submit"  id="finalizar" value="Finalizar"/>
          <input class="BTN" type="submit" onclick="location.href = '/'" id="voltar" value="Voltar"/>

        </div>



        </form>
    </body>

</html>
