body {
	text-align: center;
}

#mainwrap {
	width: 880px;
	margin: 0 auto;
	text-align: left;
}

#leftcol {
	width: 224px;
	float: left;
}

#rightcol {
	width: 656px;
	float: left;
}

h1#logo {
	margin: 0;
}

#logo a {
	display: block;
	height: 72px;
	line-height: 72px;
	font-size: 18px;
	color: #000;
	font-family: "Trebuchet MS";
	text-transform: uppercase;
	padding: 0 20px;
}

#logo a span {
	color: #ea4800;
}

#logo a:hover {
	text-decoration: none;
}

#mainnav {
	border-top: solid 7px black;
}

#mainnav ul li, #mainnav ul li a, #mainnav ul li a span {
	display: block;
	height: 46px;
	line-height: 46px;
}

#mainnav ul {
	margin: 0;
}

#mainnav ul li {
	list-style-type: none;
	margin: 0;
}

#mainnav ul li a {
	background: url(../images/MAINNAV2.JPG) left top repeat-x;
}

#mainnav ul li a span {
	color: white;
	font-weight: bold;
	background: url(../images/bullet1.gif) 19px 50% no-repeat;
	padding-left: 35px;
}

#mainnav a:hover {
	text-decoration: underline;
	color: #fff;
}

.module-box h2 {
	height: 28px;
	line-height: 28px;
	padding: 0 19px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
}

.module-content {
	padding: 8px 19px;
}

h2.orange {
	background: #960028;
	border: solid 1px #445e02;
}

h2.none {
	font-size: 16px;
	color: #666;
	line-height: 30px;
	margin-bottom: 0;
}

h2.grey {
	background: #8e8870;
	border: solid 1px #445e02;
}

.grey {
	background: #e7e2cc;
}

.grey1 {
	background: #edecd8;
}

#header {
	background:#468c00;
	height: 72px;
	width:100%;
}

#call {
	width: 185px;
	height: 51px;
	float: left;
	color: white;
	margin-top: 20px;
	margin-left: 73px;

	line-height: 31px;
	text-indent: 25px;
}

#search {
	float: right;
	margin: 27px 12px 0 0;
	padding-left: 20px;
}

#search input {
	border: solid 1px #8e8870;
	background: white;
	color: white;
}

#search #ok {
	border: none;

	color: black;
	width: 101px;
	height: 15px;
	font-size: 11px;
}

#search input {
	margin-left: 5px;
}


#content {
	border-top: solid 10px#445e02;
	border-bottom: solid 10px #445e02;
	padding: 16px;
}

img.floatleft {
	margin-right: 16px;
	float: left;
}

ul.bullet li {
	list-style-type: none;
	background: url(../images/bullet2.gif) left 50% no-repeat;
	padding-left: 16px;
}

#footer {
	padding: 16px;text-align:center;width:600px;margin:0 auto;
}

#botnav ul {
	margin: 0 auto;
width:400px;
}

#botnav ul li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
	margin-left: 0;
}

#botnav ul li a {
	color: #ea4800;
}

#copyright {
	text-align:center;
	margin-top:15px;
}
